/* HeaderSection - Links */

body {
    margin: auto;
}

.header {
    padding: 3rem 3rem;
    text-align: right;
}

.header a {
    padding: 0 10px;
    color: black;
    font-size: 14px;
}


/* Body section Search */

.body {
    margin-top: 10rem;
    text-align: center;
}

.bodyAdvSearch {
    margin-top: 5rem;
}

.form-group {
    margin: 0;
}

.col-form-label {
    padding-top: 21px;
    padding-left: 5%;
    text-align: left;
}

input {
    margin: 1rem 0;
}

.inputText {
    border-radius: 25px;
    margin: auto;
    width: 30%;
    padding: 10px;
}

.inputText:hover {
    border-color: #c3c3c4;
    box-shadow: 0 0 10px #c3c3c4;
}

.inputAdvSearch {
    height: 45%;
    width: 50%;
}

.textTipyPage {
    text-align: left;
    margin-left: 5%;
    margin-bottom: 3%;
}

.btnAdvSearch {
    margin-right: 8%;
}

.btnHover:hover {
    background-color: #dadadd28;
    border-color: #c3c3c4;
    box-shadow: 0 0 5px #c3c3c4;
}